<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CAS Test1</title>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- 示例jsonp方式给其它域名增加一个cookie字段token -->
    <script src="http://127.0.0.1:11001/setCookie?token=hello123"></script>
    <script>
        // jsonp的回调,调用第三方页面获取token
        function getTicket(data) {
            console.log(data);
            // 挂在windwos全局上，方便测试
            window._ticket = data.data.ticket;
        }
    </script>
</head>

<body>
    <div v-if="pageshow" id="app">
        <div v-if="!userinfo.username">
            未登录
        </div>
        <div v-else>
            用户已经登录: {{ userinfo.username }}
        </div>
        <button @click="getInfo">获取用户信息</button>
        <button @click="logout">退出登录</button>
    </div>
    <script>
        const axiosInstance = axios.create({
            headers: { 'Content-Type': 'application/json;charset=utf-8' },
            /**
             *  设置允许跨域携带cookie,
             * 如果不跨域，使用nginx转发的话，这个参数没用。
             * 如果跨域，会带上cookie,返回时服务器要设置允许跨域头header('Access-Control-Allow-Origin:*'); （全域名访问，不安全需要限制为R.com)
             * 跨域时，如果使用自定义的http头，浏览器会先发一个option,后端代码要响应!
             */
            withCredentials: true 
        })

        const app = new Vue({
            el: '#app',
            data() {
                return {
                    username: '',
                    password: '',
                    userinfo: {},
                    pageshow: false,
                }
            },
            methods: {
                getUserInfo() {
                    const ticket = window._ticket || '';
                    axiosInstance.defaults.headers.common["Authorization"] = 'ticket';
                    axiosInstance.get('/api/getUserInfo')
                        .then(res => {
                            console.log('返回了:',res)
                            if (res.data.code == 0) {
                                this.userinfo = res.data.data
                                this.pageshow = true;
                            } else {
                                const nowHref = window.location.origin;
                                window.location.href = `http://login.com:1280?redirect=${nowHref}`;
                            }
                        })
                },
                login() {
                    axiosInstance.post('/api/login', {
                        username: this.username,
                        password: this.password,
                    })
                        .then(res => {
                            if (res.data.code == 0) {
                                this.userinfo = res.data.data
                            }
                        })
                },
                logout() {
                    axiosInstance.get(`/api/logout`)
                        .then(res => {
                            this.userinfo = {}
                        })
                },
                getTicket() {
                    // jsonp跨域取ticket
                    var tag = document.createElement('script');  //创建标签
                    tag.src = "http://login.com:1280/api/getTicket?callback=getTicket";//这里面的返回的数据是list()  里面的数据是字典的形式
                    document.head.appendChild(tag); //找到head标签并添加
                },
                getInfo() {
                    this.getTicket();
                    setTimeout(this.getUserInfo, 100);
                }
            },
            mounted() {
                // 取得第三方网站的token
                // 如果失败的话跳转本站的登录页面
                this.getTicket();
                
                // 取得token后再请求用户数据
                setTimeout(this.getUserInfo, 100);
            }
        })
    </script>
</body>

</html>